.App {
  text-align: left;
  color:black;
}
nav{
  display: flex;
  gap:2rem;
padding: 2rem 3rem;
}

/* Toast */

/* To change color, font family and font size */
.e-toast-container .e-toast .e-toast-message .e-toast-title {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
li{
  list-style: none;
}
.color{
  color: red;
}
.cross{ 
  position:absolute;
  display: flex;
  align-items: end;
  right: 0;
  margin: 2rem;
  cursor: pointer;
}
.text{
  font-size: 1.6rem;
  margin-block: 2rem;
  font-weight: bolder;
}
.cart{
  cursor: pointer;
}
.cart:focus{
  color:red;
}
.full-voile-head{
  color:#212529;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: oblique;
  padding: 2rem;
}
.turban-img img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 1rem;
}
.turban-img{
  position: relative;
  gap: 1rem;
  width: 50%;
 
}
.turban-images{
  margin-block: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.turban-area{
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
}
.turban-image img{
 width: 90%;
}
.drop-box{
  padding: .5rem 1rem;
}

.original-price{
  color:green;
  font-size: 2.22rem;
  font-weight: 700;
}
.fake-price{
  text-decoration: line-through;
font-size: 1.8rem;

}
.stitching-section{
  font-size: 1.8rem;
  margin-block: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

}
.seam-area{
  display: flex;
  gap: 2rem;
}
.grand-total{
  margin-block: 2rem;
 display: flex;
 gap: 30%;
}
.grand-total-price{
font-size: 2rem;
color: green;
font-weight: 700;
}
.button-cart{
  align-items: center;
  display: flex;
  padding-inline: 20%;
margin-bottom: 2rem;
}
.button-cart button{
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: darkgreen;
  color: #fff;
  border: none;
  outline: none;
  
}
.parna-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.parna-img img{
  border-radius: 8px;
}
.stich-area-parna{
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  font-weight: 700;
  
}
.stich-area-parna select{
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  
}
.parna-description{
 padding-block: 2rem;
 justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;
}
.parna-description p{
  margin-bottom: 2rem;
}
.button-parna{
  padding-inline: 2rem;
}
.button-parna button{
  padding: 1rem;
  background-color: green;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
}

.sign-btn{
  display: flex;
  gap: 2rem;
}
.sign-btn p{
  font-size: 1.3rem;
  font-weight: 700;
}
.shop-name{
  margin-left: 2rem;
  font-family: 'Patua One', cursive;
  position: relative;
  color: #1f2d0b;
}
.shop-name p{
  font-size:1.6rem;
  position: absolute;
}
.shop-name h1{
  font-size: 3rem;
}
.shop-logo{
  border-radius: 50%;
}
.VOILE-NAV{
  margin-top: 4rem;
}
.parna-nav{
  margin-block: 4rem;
}
.cart-length{
  position: absolute;
}
@media screen and (max-width:1024px) {
  html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
 
  .turban-area{
    flex-direction: column;
    align-items: center ;
  }
  .footer-section{
    flex-direction: column;
    width: 100%;
   gap:2rem;
    justify-content: center;
  }
  .footer-about{
    width: 100%;
  }
}